body {
    background-color: rgb(360, 0, 38);
}

img{
    border-radius: 50%;
    width: 30%;
    height: 25%;
    border-width: 100px;
    border-style: solid;
    border-color: rgb(125, 65, 42);
    display: block;
    margin-left: 25%;
    margin-right: 25%;
}
#header{
    background-color: cornsilk;
    border-radius: 20px;
    border-width: 20px;
    border-style: double;
    text-align: center;
}
#list{
    color: rgb(196, 256, 539);
    text-align: right;
    border-width: 34px;
    border-style: groove;
    border-color:rgb(125, 75, 194);
    padding: 32px;
    margin-left: 35%;
}
#navlinks{
    position: fixed;
}
#footer{
    background-color: rgb(96, 86, 141);
    border-radius: 20px;
    border-width: 20px;
    border-style: double;
    text-align: center;
}
