body {
    background-color: rgb(38, 0, 38);
}

img{
    border-radius: 50%;
    width: 30%;
    height: 25%;
    border-width: 100px;
    border-style: solid;
    border-color: rgb(255, 255, 64);
    display: block;
    margin-left: 25%;
    margin-right: 25%;
}
#header{
    background-color: aqua;
    border-radius: 20px;
    border-width: 20px;
    border-style: solid;
    text-align: center;
}